{% extends "base.html" %}

{% block title %}
Заметки
{% endblock %}

{% block content %}
<h1 align="center">Заметки</h1>

<ul class="list-group list-group-flush">
    {% for note in user.notes %}
        <li class="list-group-item">
            <button type="button" class="btn-close" aria-label="Close" onclick="deleteNote({{ note.id }})"></button>
            {{note.data}}   
        </li>
    {% endfor %}
</ul>
<br/>
<form method="POST">
    <div class="input-group mb-3">
        <input required type="text" name="note" class="form-control" placeholder="Enter note" aria-describedby="button-addon2">
        <button class="btn btn-primary" type="submit" id="button-addon2" name="submit">Add Note</button>
    </div>
</form>
{% endblock %}
